@{
    ViewBag.Title = "About Us";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="main-page-wrapper tg-haslayout">
                <div class="fw-page-builder-content">

                    <section class="tg-main-section haslayout  stretch_section">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="sc-services">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                        <div class="tg-theme-heading">
                                            <h2>Why to use it?</h2>
                                            <span class="tg-roundbox"></span>
                                            <div class="tg-description">
                                                <p>
                                                    Your practice made perfect.

                                                    From attracting new patients to reducing no-shows, We helps you be the best doctor you can be.
                                                    <h3 style="color: #5d5955">Book health appointments in seconds.</h3>
                                                    <a class="tg-btn" style="color: #5d5955" href="@Url.Action("Register", "Account")">Register Today</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-sm-12 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                                <h4>See how to use it ?</h4>
                                <div style="position:relative;height:0;padding-bottom:56.21%"><iframe src="https://www.youtube.com/embed/LGtKlmGxS54?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="641" height="360" frameborder="0" allowfullscreen></iframe></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>