@{
    ViewBag.Title = "Contact Us";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="main-page-wrapper tg-haslayout">
                <div class="fw-page-builder-content">

                    <section class="tg-main-section haslayout  stretch_section">
                        <div class="builder-items">
                            <div class="col-xs-12 col-md-12 builder-column ">
                                <div class="sc-services">
                                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                        <div class="tg-theme-heading">
                                            <h2>Contact Us</h2>
                                            <span class="tg-roundbox"></span>
                                            <div class="tg-description">
                                                <address>
                                                    6, MG Old Road,    Pune, <br />
                                                    India,  411007<br />
                                                    <abbr title="Phone">P:</abbr>
                                                    +91727.638.5155
                                                </address>
                                                <address>
                                                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@connect2Doctor.com</a><br />
                                                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@connect2Doctor.com</a>
                                                </address><br />
                                                <h2>Social media links coming soon..</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>