@using DPTS.Web.Models
@using DPTS.Web.Helpers
@model SearchModel
    @{ 
        Html.Assets().Scripts.Add("https://maps.googleapis.com/maps/api/js?key=AIzaSyDvanm9mpt0gdHXeUTLbmedVCYU8OKNS3U&libraries=places");
        Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/gmap3.min1c9b.js");
        Html.Assets().Scripts.Add("/Content/wp-content/themes/docdirect/js/docdir_maps1c9b.js");
    }
<style>
    .k-autocomplete.k-state-default
    {
        width:100%;
    }
</style>
<div class="tg-searcharea-v2">
@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { id = "directory-map", @class = "tg-searchform directory-map" }))
{
    <fieldset>
        <div class="form-group" id="auto-search">
            <input id="speciality" name="q" style="height: 46px" class="group subcats" />
        </div>
        <div class="form-group">
            <div class="locate-me-wrap">
                <div class="locate-me-wrap">
                    <div id="location-pickr-map" class="elm-display-none"></div>
                    <input type="text" autocomplete="on" id="location-address" value="" name="geo_location" placeholder="Zipcode / City" class="form-control">
                    <a href="javascript:;" class="geolocate"><img src="~/Content/wp-content/themes/docdirect/images/geoicon.svg" width="16" height="16" class="geo-locate-me" alt="Locate me!"></a>
                    @*<a href="javascript:;" class="geodistance"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    <div class="geodistance_range elm-display-none">
                        <div class="distance-ml">Distance in&nbsp;( Miles )<span>50</span></div>
                        <input type="hidden" name="geo_distance" value="50" class="geo_distance" />
                        <div class="geo_distance" id="geo_distance"></div>

                    </div>*@
                    </div>
                @*<input type="hidden" id="lat" name="lat" value="" />
                <input type="hidden" id="lng" name="lng" value="" />*@

                <script>
			jQuery(document).ready(function(e) {
				jQuery("#geo_distance").slider({
				   range: "min",
				   min:1,
				   max:300,
				   value:50,
				   animate:"slow",
				   orientation: "horizontal",
				   slide: function( event, ui ) {
					  jQuery( ".distance-ml span" ).html( ui.value );
					  jQuery( ".geo_distance" ).val( ui.value );
				   }
				});
			});
                </script>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" id="search_banner" class="tg-btn" value="search">
        </div>
    </fieldset>
}
</div>

<script>
        jQuery(document).ready(function (e) {
                    jQuery("#speciality").kendoAutoComplete({
                        filter: "startswith", //contain
                       // minLength: 3,
                        placeholder: "speciality, or doctor name",
                        //separator: ", ",    
                        dataTextField: "Title",
                        dataSource: {
                            type: "json",
                            serverFiltering: false,
                        transport: {
                                read: {
                                    url: "@Url.Action("Speciality_Read", "Speciality")"
                                }
                        }
                    }
                    });
                });
</script>
   