@{
    ViewBag.Title = "Confirm Email";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <h4>@ViewBag.Title.</h4><hr />
            <div class="col-md-12">
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</main>