@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row"> 
                <h4>@ViewBag.Title.</h4>
            <hr />
            <div class="col-md-12">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="@Url.Action("Search","Home")" class="btn btn-success btn-lg">Go to Home</a></p>
            </div>
        </div>
    </div>
</main>