@model DPTS.Web.Models.Meeting
@{
    ViewBag.Title = "CreateMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                <aside id="tg-sidebar" class="dashboard-sidebar">
                    <div class="tg-widget tg-widget-accordions">
                        <h3>Dashboard</h3>
                        <ul class="docdirect-menu">
                            <li class=""><a href="#">List Meetings</a></li>
                            <li class=""><a href="@Url.Action("CreateMeeting","Doctor")">Create Meetings</a></li>
                            <li class=""><a href="#">Update Meetings</a></li>

                        </ul>
                    </div>
                </aside>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
                @*<form class="tg-formeditprofile tg-haslayout do-account-setitngs">*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
                    <fieldset>
                        <div class="tg-bordertop tg-haslayout">
                            <div class="tg-formsection tg-videoprofile">
                                <div class="tg-heading-border tg-small">
                                    <h3>Create Meeting</h3>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                            @*<div class="form-group">
                                            <label class="control-label" for="api_field_host_id">
                                            Host User ID:<span class="redstar">*</span></label>
                                            <div class="controls">
                                            <input id="api_field_host_id" class="form-control" type="text" value="">
                                            </div>
                                            </div>*@

    <div id="parameters_container">

        <div class="form-group">
            <label class="control-label" for="api_field_topic">
                Topic:<span class="redstar">*</span>
            </label>
            <div class="controls">
                <input id="Topic" name="Topic" class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="api_field_password">Password:</label>
            <div class="controls">
                <input id="Password" name="Password" class="form-control" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="api_field_type">Type:<span class="redstar">*</span></label>
            <div class="controls">
                <label class="radio-inline"><input type="radio" name="ManageType" id="api_field_type_1" checked="checked" value="1">Instant</label>
                <label class="radio-inline"><input type="radio" name="ManageType" id="api_field_type_2" value="2" disabled>Scheduled</label>
                <label class="radio-inline"><input type="radio" name="ManageType" id="api_field_type_3" value="3" disabled>Recurring(With No Fixed Time)</label>
                <label class="radio-inline"><input type="radio" name="ManageType" id="api_field_type_8" value="8" disabled>Recurring</label>
            </div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="control-label" for="api_field_start_time">Start Time:<span class="redstar">*</span></label>
            <div class="controls"><input id="api_field_start_time" class="form-control" type="text" value=""></div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="control-label" for="api_field_duration">Duration:<span class="redstar">*</span></label>
            <div class="controls"><input id="api_field_duration" class="form-control" type="text" value=""></div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="control-label" for="s2id_autogen1">Time Zone:<span class="redstar">*</span></label>
            <div class="controls">
                <div class="select2-container" id="s2id_api_field_timezone" style="width: 500px;">
                    <a href="javascript:void(0)" onclick="return false;" class="select2-choice" tabindex="-1">   <span class="select2-chosen">Please Select User Time Zone</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow"><b></b></span></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen1">
                    <div class="select2-drop select2-display-none select2-with-searchbox">
                        <div class="select2-search">
                            <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">
                        </div>
                        <ul class="select2-results"></ul>
                    </div>
                </div>
                <select id="api_field_timezone" tabindex="-1" class="select2-offscreen">
                    <option value="">Please Select User Time Zone</option>
                    <option value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                    <option value="Pacific/Pago_Pago">(GMT-11:00) Pago Pago</option>
                    <option value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
                    <option value="America/Anchorage">(GMT-8:00) Alaska</option>
                    <option value="America/Vancouver">(GMT-7:00) Vancouver</option>
                    <option value="America/Los_Angeles">(GMT-7:00) Pacific Time (US and Canada)</option>
                    <option value="America/Tijuana">(GMT-7:00) Tijuana</option>
                    <option value="America/Phoenix">(GMT-7:00) Arizona</option>
                    <option value="America/Edmonton">(GMT-6:00) Edmonton</option>
                    <option value="America/Denver">(GMT-6:00) Mountain Time (US and Canada)</option>
                    <option value="America/Mazatlan">(GMT-6:00) Mazatlan</option>
                    <option value="America/Regina">(GMT-6:00) Saskatchewan</option>
                    <option value="America/Guatemala">(GMT-6:00) Guatemala</option>
                    <option value="America/El_Salvador">(GMT-6:00) El Salvador</option>
                    <option value="America/Managua">(GMT-6:00) Managua</option>
                    <option value="America/Costa_Rica">(GMT-6:00) Costa Rica</option>
                    <option value="America/Tegucigalpa">(GMT-6:00) Tegucigalpa</option>
                    <option value="America/Winnipeg">(GMT-5:00) Winnipeg</option>
                    <option value="America/Chicago">(GMT-5:00) Central Time (US and Canada)</option>
                    <option value="America/Mexico_City">(GMT-5:00) Mexico City</option>
                    <option value="America/Panama">(GMT-5:00) Panama</option>
                    <option value="America/Bogota">(GMT-5:00) Bogota</option>
                    <option value="America/Lima">(GMT-5:00) Lima</option>
                    <option value="America/Montreal">(GMT-4:00) Montreal</option>
                    <option value="America/New_York">(GMT-4:00) Eastern Time (US and Canada)</option>
                    <option value="America/Indianapolis">(GMT-4:00) Indiana (East)</option>
                    <option value="America/Puerto_Rico">(GMT-4:00) Puerto Rico</option>
                    <option value="America/Caracas">(GMT-4:00) Caracas</option>
                    <option value="America/Halifax">(GMT-3:00) Halifax</option>
                    <option value="America/Santiago">(GMT-3:00) Santiago</option>
                    <option value="America/Montevideo">(GMT-3:00) Montevideo</option>
                    <option value="America/Araguaina">(GMT-3:00) Brasilia</option>
                    <option value="America/Argentina/Buenos_Aires">(GMT-3:00) Buenos Aires, Georgetown</option>
                    <option value="America/Sao_Paulo">(GMT-3:00) Sao Paulo</option>
                    <option value="Canada/Atlantic">(GMT-3:00) Atlantic Time (Canada)</option>
                    <option value="America/St_Johns">(GMT-2:30) Newfoundland and Labrador</option>
                    <option value="America/Godthab">(GMT-2:00) Greenland</option>
                    <option value="Atlantic/Cape_Verde">(GMT-1:00) Cape Verde Islands</option>
                    <option value="Atlantic/Azores">(GMT+0:00) Azores</option>
                    <option value="UTC">(GMT+0:00) Universal Time UTC</option>
                    <option value="Etc/Greenwich">(GMT+0:00) Greenwich Mean Time</option>
                    <option value="Atlantic/Reykjavik">(GMT+0:00) Reykjavik</option>
                    <option value="Africa/Nouakchott">(GMT+0:00) Nouakchott</option>
                    <option value="Europe/Dublin">(GMT+1:00) Dublin</option>
                    <option value="Europe/London">(GMT+1:00) London</option>
                    <option value="Europe/Lisbon">(GMT+1:00) Lisbon</option>
                    <option value="Africa/Casablanca">(GMT+1:00) Casablanca</option>
                    <option value="Africa/Bangui">(GMT+1:00) West Central Africa</option>
                    <option value="Africa/Algiers">(GMT+1:00) Algiers</option>
                    <option value="Africa/Tunis">(GMT+1:00) Tunis</option>
                    <option value="Europe/Belgrade">(GMT+2:00) Belgrade, Bratislava, Ljubljana</option>
                    <option value="CET">(GMT+2:00) Sarajevo, Skopje, Zagreb</option>
                    <option value="Europe/Oslo">(GMT+2:00) Oslo</option>
                    <option value="Europe/Copenhagen">(GMT+2:00) Copenhagen</option>
                    <option value="Europe/Brussels">(GMT+2:00) Brussels</option>
                    <option value="Europe/Berlin">(GMT+2:00) Amsterdam, Berlin, Rome, Stockholm, Vienna</option>
                    <option value="Europe/Amsterdam">(GMT+2:00) Amsterdam</option>
                    <option value="Europe/Rome">(GMT+2:00) Rome</option>
                    <option value="Europe/Stockholm">(GMT+2:00) Stockholm</option>
                    <option value="Europe/Vienna">(GMT+2:00) Vienna</option>
                    <option value="Europe/Luxembourg">(GMT+2:00) Luxembourg</option>
                    <option value="Europe/Paris">(GMT+2:00) Paris</option>
                    <option value="Europe/Zurich">(GMT+2:00) Zurich</option>
                    <option value="Europe/Madrid">(GMT+2:00) Madrid</option>
                    <option value="Africa/Harare">(GMT+2:00) Harare, Pretoria</option>
                    <option value="Europe/Warsaw">(GMT+2:00) Warsaw</option>
                    <option value="Europe/Prague">(GMT+2:00) Prague Bratislava</option>
                    <option value="Europe/Budapest">(GMT+2:00) Budapest</option>
                    <option value="Africa/Tripoli">(GMT+2:00) Tripoli</option>
                    <option value="Africa/Cairo">(GMT+2:00) Cairo</option>
                    <option value="Africa/Johannesburg">(GMT+2:00) Johannesburg</option>
                    <option value="Europe/Helsinki">(GMT+3:00) Helsinki</option>
                    <option value="Africa/Nairobi">(GMT+3:00) Nairobi</option>
                    <option value="Europe/Sofia">(GMT+3:00) Sofia</option>
                    <option value="Europe/Istanbul">(GMT+3:00) Istanbul</option>
                    <option value="Europe/Athens">(GMT+3:00) Athens</option>
                    <option value="Europe/Bucharest">(GMT+3:00) Bucharest</option>
                    <option value="Asia/Nicosia">(GMT+3:00) Nicosia</option>
                    <option value="Asia/Beirut">(GMT+3:00) Beirut</option>
                    <option value="Asia/Damascus">(GMT+3:00) Damascus</option>
                    <option value="Asia/Jerusalem">(GMT+3:00) Jerusalem</option>
                    <option value="Asia/Amman">(GMT+3:00) Amman</option>
                    <option value="Europe/Moscow">(GMT+3:00) Moscow</option>
                    <option value="Asia/Baghdad">(GMT+3:00) Baghdad</option>
                    <option value="Asia/Kuwait">(GMT+3:00) Kuwait</option>
                    <option value="Asia/Riyadh">(GMT+3:00) Riyadh</option>
                    <option value="Asia/Bahrain">(GMT+3:00) Bahrain</option>
                    <option value="Asia/Qatar">(GMT+3:00) Qatar</option>
                    <option value="Asia/Aden">(GMT+3:00) Aden</option>
                    <option value="Africa/Khartoum">(GMT+3:00) Khartoum</option>
                    <option value="Africa/Djibouti">(GMT+3:00) Djibouti</option>
                    <option value="Africa/Mogadishu">(GMT+3:00) Mogadishu</option>
                    <option value="Europe/Kiev">(GMT+3:00) Kiev</option>
                    <option value="Asia/Dubai">(GMT+4:00) Dubai</option>
                    <option value="Asia/Muscat">(GMT+4:00) Muscat</option>
                    <option value="Asia/Baku">(GMT+4:00) Baku, Tbilisi, Yerevan</option>
                    <option value="Asia/Tehran">(GMT+4:30) Tehran</option>
                    <option value="Asia/Kabul">(GMT+4:30) Kabul</option>
                    <option value="Asia/Yekaterinburg">(GMT+5:00) Yekaterinburg</option>
                    <option value="Asia/Tashkent">(GMT+5:00) Islamabad, Karachi, Tashkent</option>
                    <option value="Asia/Calcutta">(GMT+5:30) India</option>
                    <option value="Asia/Kolkata">(GMT+5:30) Mumbai, Kolkata, New Delhi</option>
                    <option value="Asia/Kathmandu">(GMT+5:45) Kathmandu</option>
                    <option value="Asia/Almaty">(GMT+6:00) Almaty</option>
                    <option value="Asia/Dacca">(GMT+6:00) Dacca</option>
                    <option value="Asia/Dhaka">(GMT+6:00) Astana, Dhaka</option>
                    <option value="Asia/Novosibirsk">(GMT+7:00) Novosibirsk</option>
                    <option value="Asia/Krasnoyarsk">(GMT+7:00) Krasnoyarsk</option>
                    <option value="Asia/Bangkok">(GMT+7:00) Bangkok</option>
                    <option value="Asia/Saigon">(GMT+7:00) Vietnam</option>
                    <option value="Asia/Jakarta">(GMT+7:00) Jakarta</option>
                    <option value="Asia/Irkutsk">(GMT+8:00) Irkutsk, Ulaanbaatar</option>
                    <option value="Asia/Shanghai">(GMT+8:00) Beijing, Shanghai</option>
                    <option value="Asia/Hong_Kong">(GMT+8:00) Hong Kong</option>
                    <option value="Asia/Taipei">(GMT+8:00) Taipei</option>
                    <option value="Asia/Kuala_Lumpur">(GMT+8:00) Kuala Lumpur</option>
                    <option value="Asia/Singapore">(GMT+8:00) Singapore</option>
                    <option value="Australia/Perth">(GMT+8:00) Perth</option>
                    <option value="Asia/Yakutsk">(GMT+9:00) Yakutsk</option>
                    <option value="Asia/Seoul">(GMT+9:00) Seoul</option>
                    <option value="Asia/Tokyo">(GMT+9:00) Osaka, Sapporo, Tokyo</option>
                    <option value="Australia/Darwin">(GMT+9:30) Darwin</option>
                    <option value="Australia/Adelaide">(GMT+9:30) Adelaide</option>
                    <option value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                    <option value="Pacific/Port_Moresby">(GMT+10:00) Guam, Port Moresby</option>
                    <option value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                    <option value="Australia/Sydney">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                    <option value="Australia/Hobart">(GMT+10:00) Hobart</option>
                    <option value="Asia/Magadan">(GMT+11:00) Magadan</option>
                    <option value="SST">(GMT+11:00) Solomon Islands</option>
                    <option value="Pacific/Noumea">(GMT+11:00) New Caledonia</option>
                    <option value="Asia/Kamchatka">(GMT+12:00) Kamchatka</option>
                    <option value="Pacific/Fiji">(GMT+12:00) Fiji Islands, Marshall Islands</option>
                    <option value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
                    <option value="Pacific/Apia">(GMT+13:00) Independent State of Samoa</option>
                </select>
            </div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="control-label" for="api_field_recurrence">Recurrence:</label>
            <div class="controls"><input id="api_field_recurrence" class="form-control" type="text" value=""></div>
        </div>
        <div class="form-group" style="display: none;">
            <span class="control-label"></span>
            <div class="controls">
                <div class="checkbox"><label><input id="api_field_option_registration" type="checkbox">Require Registration</label></div>
            </div>
        </div>
        <div class="form-group" style="display: none;">
            <label class="control-label" for="api_field_registration_type">Registration Type:</label>
            <div class="controls"><label class="radio-inline"><input type="radio" name="api_field_registration_type" id="api_field_registration_type_1" checked="checked" value="1">Register once and can attend any of the occurrences</label><label class="radio-inline"><input type="radio" name="api_field_registration_type" id="api_field_registration_type_2" value="2">Attendees need to register for each occurrence to attend</label><label class="radio-inline"><input type="radio" name="api_field_registration_type" id="api_field_registration_type_3" value="3">Attendees register once and can choose one or more occurrences to attend</label><label class="radio-inline clear"><button id="api_field_registration_type_btn_clear" class="btn btn-link btn-sm" onclick="$('[name=api_field_registration_type]:checked').removeAttr('checked');" type="button">Clear</button></label></div>
        </div>
        <div class="form-group" style="display: none;">
            <span class="control-label"></span>
            <div class="controls">
                <div class="checkbox"><label><input id="api_field_option_use_pmi" type="checkbox">Use Personal Meeting ID</label></div>
            </div>
        </div>
        <div class="form-group" style="display: none;">
            <span class="control-label"></span>
            <div class="controls">
                <div class="checkbox"><label><input id="api_field_option_jbh" type="checkbox">Join Before Host</label></div>
            </div>
        </div>

        <div class="form-group">
            <span class="control-label"></span>
            <div class="controls">
                <div class="checkbox">
                    <label>
                        <input id="IsVideoHostOn" name="IsVideoHostOn" type="checkbox">Video Host ON
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span class="control-label"></span>
            <div class="controls">
                <div class="checkbox">
                    <label>
                        <input id="IsVideoParticipantsOn" name="IsVideoParticipantsOn" type="checkbox">Video Participants ON
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="api_field_option_audio">Audio Option:</label>
            <div class="controls">
                <label class="radio-inline">
                    <input type="radio" name="AudioOption" id="api_field_option_audio_telephony" value="telephony">Telephony
                </label>
                <label class="radio-inline">
                    <input type="radio" name="AudioOption" id="api_field_option_audio_voip" value="voip">VoIP only
                </label>
                <label class="radio-inline"><input type="radio" name="AudioOption" id="api_field_option_audio_both" checked="checked" value="both">Both</label><label class="radio-inline clear"><button id="api_field_option_audio_btn_clear" class="btn btn-link btn-sm" onclick="$('[name=api_field_option_audio]:checked').removeAttr('checked');" type="button">Clear</button></label>
            </div>
        </div>
        @*<div class="form-group">
                <span class="control-label"></span>
                <div class="controls">
                    <div class="checkbox"><label><input id="api_field_option_enforce_login" type="checkbox">Only signed-in users can join this meeting</label></div>
                </div>
            </div>*@
        <div class="form-group" style="display: none;">
            <label class="control-label" for="api_field_option_enforce_login_domains">Domains:</label>
            <div class="controls">
                <input id="api_field_option_enforce_login_domains" class="form-control" type="text" value="">
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label" for="api_field_option_alternative_hosts">Alternative Hosts:</label>
                <div class="controls"><input id="api_field_option_alternative_hosts" class="form-control" type="text" value=""></div>
            </div>*@
        @*<div class="form-group">
                <label class="control-label" for="api_field_option_alternative_host_ids">Alternative Host IDs:</label>
                <div class="controls"><input id="api_field_option_alternative_host_ids" class="form-control" type="text" value=""></div>
            </div>*@
    </div>


                                        <div class="form-group">
                                            <button id="send_api" type="submit" class="btn btn-default">Send Request</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
               
                }


            </div>
        </div>
    </div>
</main>
