
@{
    ViewBag.Title = "Favourites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="tg-page-wrapper tg-haslayout">
    <div class="container">
        <div class="row">
            @Html.Partial("AccountNavigation")
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">

                <div class="tg-listingarea">
                    <div class="tg-listing">
                        <div class="tg-listing-head">
                            <div class="tg-titlebox">
                                <h3>My Favorites</h3>
                            </div>
                            <div class="tg-titlebox">
                                <h3>Category</h3>
                            </div>
                            <div class="tg-titlebox">
                                <h3>Action</h3>
                            </div>
                        </div>
                        <div class="tg-lists tg-favorites">
                            <div class="tg-list" id="wishlist-334">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/delia/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-05-1-150x150.jpg" alt="Dr Delia"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/delia/">Dr Delia</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Doctor</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/delia/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="334"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-332">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/richard/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-03-1-150x150.jpg" alt="Dr Richard"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/richard/">Dr Richard</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Doctor</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/richard/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="332"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-331">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/giovanni/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/img-02-1-150x150.jpg" alt="Dr Giovanni"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/giovanni/">Dr Giovanni</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Doctor</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/giovanni/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="331"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-324">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/bartell/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/3-3-150x150.jpg" alt="Bartell Drugs"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/bartell/">Bartell Drugs</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Pharmacy</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/bartell/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="324"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-319">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/san/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/7-3-150x150.jpg" alt="San Diego Blood Bank"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/san/">San Diego Blood Bank</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Blood Bank</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/san/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="319"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-312">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/lawrence/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/7-2-150x150.jpg" alt="Lawrence Center"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/lawrence/">Lawrence Center</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Hospital</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/lawrence/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="312"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-310">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/frankford/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/5-2-150x150.jpg" alt="Frankford General Hospital"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/frankford/">Frankford General Hospital</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Hospital</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/frankford/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="310"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-308">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/redwood/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/3-1-150x150.jpg" alt="Redwood Street Medical Center"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/redwood/">Redwood Street Medical Center</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Hospital</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/redwood/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="308"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-307">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/cliftonavenue/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/2-1-150x150.jpg" alt="Clifton Avenue Medical Unit"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/cliftonavenue/">Clifton Avenue Medical Unit</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Hospital</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/cliftonavenue/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="307"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="tg-list" id="wishlist-306">
                                <div class="tg-listbox" data-title="my favorites">
                                    <figure><a href="https://themographics.com/wordpress/docdirect/user/lakedrive/" class="list-avatar"><img src="https://themographics.com/wordpress/docdirect/wp-content/uploads/2016/04/01-2-150x150.jpg" alt="Lake Drive Medical Center"></a></figure>
                                    <div class="tg-listdata">
                                        <h4><a href="https://themographics.com/wordpress/docdirect/user/lakedrive/">Lake Drive Medical Center</a></h4>
                                    </div>
                                </div>
                                <div class="tg-listbox" data-insights="catagory"><span>Hospital</span></div>
                                <div class="tg-listbox" data-action="action">
                                    <a class="tg-btn-list" href="https://themographics.com/wordpress/docdirect/user/lakedrive/"><i class="fa fa-eye"></i></a>
                                    <a class="tg-btn-list remove-wishlist" href="javascript:;" data-wl_id="306"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="tg-btnarea">
                            <div class="tg-pagination"><ul><li><a class="active" href="javascript:;">1</a></li><li><a href="https://themographics.com/wordpress/docdirect/dashboard/page/2/?ref=wishlist&amp;identity=340" class="inactive">2</a></li><li class="tg-next"><a class="" href="https://themographics.com/wordpress/docdirect/dashboard/page/2/?ref=wishlist&amp;identity=340"><i class="fa fa-angle-right"></i></a></li></ul></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>

