@{
    ViewBag.Title = "Invoices Packages";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("AccountNavigation")
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 pull-right">
    <div class="tg-haslayout tg-myaccount">
        <div class="tg-system-packages">

            <div id="tg-dashboard-invoice" class="tg-dashboard-invoice tg-haslayout">
                <table class="col-md-12 table-striped ">
                    <thead class="cf">
                        <tr>
                            <th>Invoice ID</th>
                            <th class="numeric">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Code">
                                <a href="javascript:;"><i class="fa fa-print"></i>card_199V6xBhO1hD7f7TS6VgAa2L </a>
                            </td>
                            <td data-title="Change %" class="numeric">
                                USD75            <a data-placement="top" data-toggle="popover" data-trigger="focus" data-container="body" type="button" data-html="true" href="javascript:;" id="login" data-original-title="" title=""><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                <div id="popover-content" class="hide">
                                    <div class="invoice-complete-info">
                                        <div class="item-data">
                                            <span class="invoice-head">Invoice ID:&nbsp;</span>
                                            <span class="invoice-desc">card_199V6xBhO1hD7f7TS6VgAa2L</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Package Name:&nbsp;</span>
                                            <span class="invoice-desc">Premium Package - 30 Days</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Amount:&nbsp;</span>
                                            <span class="invoice-desc">USD75</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Method:&nbsp;</span>
                                            <span class="invoice-desc">Stripe</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Status:&nbsp;</span>
                                            <span class="invoice-desc">Approved</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Date:&nbsp;</span>
                                            <span class="invoice-desc">28 Oct, 2016</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payer Name:&nbsp;</span>
                                            <span class="invoice-desc">alex alex</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Address:&nbsp;</span>
                                            <span class="invoice-desc">Klp Rd, Sadiqabad, Pakistan</span>
                                        </div>
                                    </div>
                                    <script>
					jQuery(document).ready(function(e) {
						jQuery("[data-toggle=popover]").popover({
							html: true,
							content: function() {
								  return jQuery('#popover-content').html();
								}
						});
					});
                                    </script>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Code">
                                <a href="javascript:;"><i class="fa fa-print"></i>card_194EiPBhO1hD7f7Tt8cSz0uU </a>
                            </td>
                            <td data-title="Change %" class="numeric">
                                USD75            <a data-placement="top" data-toggle="popover" data-trigger="focus" data-container="body" type="button" data-html="true" href="javascript:;" id="login" data-original-title="" title=""><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                <div id="popover-content" class="hide">
                                    <div class="invoice-complete-info">
                                        <div class="item-data">
                                            <span class="invoice-head">Invoice ID:&nbsp;</span>
                                            <span class="invoice-desc">card_194EiPBhO1hD7f7Tt8cSz0uU</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Package Name:&nbsp;</span>
                                            <span class="invoice-desc">Premium Package - 30 Days</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Amount:&nbsp;</span>
                                            <span class="invoice-desc">USD75</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Method:&nbsp;</span>
                                            <span class="invoice-desc">Stripe</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Status:&nbsp;</span>
                                            <span class="invoice-desc">Approved</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Date:&nbsp;</span>
                                            <span class="invoice-desc">13 Oct, 2016</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payer Name:&nbsp;</span>
                                            <span class="invoice-desc">alex alex</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Address:&nbsp;</span>
                                            <span class="invoice-desc">229 Chaplin Rd, Wembley HA0 4UR, UK</span>
                                        </div>
                                    </div>
                                    <script>
					jQuery(document).ready(function(e) {
						jQuery("[data-toggle=popover]").popover({
							html: true,
							content: function() {
								  return jQuery('#popover-content').html();
								}
						});
					});
                                    </script>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-title="Code">
                                <a href="javascript:;"><i class="fa fa-print"></i>card_18ZLaGBhO1hD7f7TyEDAt1jI </a>
                            </td>
                            <td data-title="Change %" class="numeric">
                                USD75            <a data-placement="top" data-toggle="popover" data-trigger="focus" data-container="body" type="button" data-html="true" href="javascript:;" id="login" data-original-title="" title=""><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                                <div id="popover-content" class="hide">
                                    <div class="invoice-complete-info">
                                        <div class="item-data">
                                            <span class="invoice-head">Invoice ID:&nbsp;</span>
                                            <span class="invoice-desc">card_18ZLaGBhO1hD7f7TyEDAt1jI</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Package Name:&nbsp;</span>
                                            <span class="invoice-desc">Premium Package - 30 Days</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Amount:&nbsp;</span>
                                            <span class="invoice-desc">USD75</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Method:&nbsp;</span>
                                            <span class="invoice-desc">Stripe</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Status:&nbsp;</span>
                                            <span class="invoice-desc">Approved</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payment Date:&nbsp;</span>
                                            <span class="invoice-desc">20 Jul, 2016</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Payer Name:&nbsp;</span>
                                            <span class="invoice-desc">Demo Professional</span>
                                        </div>
                                        <div class="item-data">
                                            <span class="invoice-head">Address:&nbsp;</span>
                                            <span class="invoice-desc">117 Chaplin Rd, Wembley HA0 4UN, UK</span>
                                        </div>
                                    </div>
                                    <script>
					jQuery(document).ready(function(e) {
						jQuery("[data-toggle=popover]").popover({
							html: true,
							content: function() {
								  return jQuery('#popover-content').html();
								}
						});
					});
                                    </script>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-xs-12">
                </div>
            </div>        <div class="tg-heading-border tg-small">
                <h3>Packages</h3>
            </div>
            <div class="packages-payments">
                <div class="tg-bordertop tg-haslayout">
                    <div class="tg-reactivate tg-haslayout">
                        <div class="col-sm-8">
                            <div class="tg-heading-border tg-small">
                                <h2>Current Subscription</h2>
                            </div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etiam dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation sel ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="tg-btn tg-btn-lg">Re-Subscribe now</button>
                            <span>You can renew your advertiment subscription at any time!</span>
                        </div>
                    </div>
                </div>
                <form action="#" method="post" class="renew-package">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-xs-6 tg-packageswidth">
                            <div class="tg-checkbox">
                                <input type="radio" checked="" name="packs" value="34" id="pack-34">
                                <label for="pack-34">
                                    <div class="tg-packages active">

                                        <span class="tg-featuredicon"><em class="fa fa-bolt"></em></span>
                                        <h2>Premium Package</h2>
                                        <h3>Duis aute irure tota</h3>
                                        <strong><i>$</i>75</strong>
                                        <p>30 Days</p>
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etiam dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation sel ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <span class="tg-btn-invoices selected-package">Select Package</span>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 tg-packageswidth">
                            <div class="tg-checkbox">
                                <input type="radio" name="packs" value="33" id="pack-33">
                                <label for="pack-33">
                                    <div class="tg-packages ">

                                        <h2>Standard Package</h2>
                                        <h3>Duis aute irure tota</h3>
                                        <strong><i>$</i>50</strong>
                                        <p>20 Days</p>
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etiam dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation sel ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <span class="tg-btn-invoices selected-package">Select Package</span>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-6 tg-packageswidth">
                            <div class="tg-checkbox">
                                <input type="radio" name="packs" value="32" id="pack-32">
                                <label for="pack-32">
                                    <div class="tg-packages ">

                                        <h2>Basic Package</h2>
                                        <h3>Incididunt Ut Totan</h3>
                                        <strong><i>$</i>10</strong>
                                        <p>10 Days</p>
                                        <p>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore etiam dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation sel ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        <span class="tg-btn-invoices selected-package">Select Package</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="gateways-settings">
                        <div class="notification_wrap"><div class="notification_text"></div></div>
                        <div class="membership-price-header">Payment Options</div>
                        <div class="system-gateway">
                            <label for="doc-payment-bank"><input checked="checked" name="gateway" type="radio" id="doc-payment-bank" value="bank">Bank Transfer</label>
                            <div class="doc-desc">
                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be approved until the funds have cleared in our account.</p>
                            </div>
                        </div>
                        <div class="system-gateway">
                            <label for="doc-payment-paypal"><input name="gateway" type="radio" id="doc-payment-paypal" value="paypal">Paypal</label>
                        </div>
                        <div class="system-gateway">
                            <label for="doc-payment-strip"><input name="gateway" type="radio" id="doc-payment-strip" value="stripe">Credit Card( Stripe )</label>
                        </div>
                        <div class="system-gateway">
                            <input type="hidden" id="renew-process" name="renew-process" value="bc9ef0d476"><input type="hidden" name="_wp_http_referer" value="/wordpress/docdirect/dashboard/?ref=invoices&amp;identity=340">            <button type="submit" class="tg-btn do-process-payment">Subscribe Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>