@model string
<div class="icon-bar">
    <a href="skype:@Model?chat" id="meddelanden" data-title="Meddelanden" data-toggle="clickover"
               data-placement="right"><i class="fa fa-commenting-o"></i></a>
    <a href="skype:@Model?call&video=true"><i class="fa fa-video-camera"></i></a>
    <a href="skype:@Model?call"><i class="fa fa-phone"></i></a>
</div>
