@model DPTS.Web.Models.AdminDocorReviewModel

@{
    //page title
    ViewBag.Title = "Edit Review";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <h3 class="pull-left">
            Edit Review
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To List", "List")</small>
        </h3>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
               Save
            </button>
            <span id="productreview-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
               Delete
            </span>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}


