/*Responsive with custom style override*/

.alert-success {
    color: white;
    background-color: #7dbb00;
    border-color: #7dbb00;
}
.alert-danger {
    color: white;
    background-color: rgb(234, 77, 59);
    border-color: rgb(234, 77, 59);
}
.alert{
    border-radius:0;
}
.astric{
    padding-left:5px;
    color:red;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555;
    width: 1.2em;
    height: 1.2em;
}
.ui-slider .ui-slider-range{
    background-image:none;
    background-color:#7dbb00;
}
.tg-searcharea{
        padding: 25px 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
{
        background-color: #314152;
    border-color: #314152;
}
 .lst-appmt-btn{
    font-size: 13px;
    margin-top: 0;
    line-height: 30px;
    height: 37px;
    }
    .tg-docprofile-content .tg-description {
    line-height: 20px;
    padding: 5px 0 10px;
}
    
    .docbox-right .fees, .doc-phone, .doc-addr {
    line-height: 20px;
    margin-bottom: 8px;
    /*float:none;
    width:30%;*/
}
    .icon-ic_currency:before {
    content: '\e924';
}
    .docbox-right .fees .fees-amount{
    margin-left: 4px;
}
    .fa-money, .fa-map-marker, .fa-phone-square{
     left: 0;
     position:relative; 
     top: 0; 
    }
  
    .doc-edu{
    background-color: #f7f7f7;
    }
    .write-review{
       background: #eee;
       padding: 20px;
    }
    .write-review .title{
            padding: 0 0 15px;
    margin: 10px 0 15px 0;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 20px;
    }
    .write-review .review-rating {
    text-align: center;
}
    .write-review .review-rating ul {
    font-size: 0;
    vertical-align: middle;
}
    .write-review .review-rating li {
    display: inline-block;
    margin: 0 5px;
    cursor: default;
    vertical-align: middle;
    font-size: 14px;
    height: 17px;
}
    .write-review .review-rating li.rating-options {
    padding-top: 2px;
}
    .write-review .review-rating li.rating-options input {
    vertical-align: baseline;
}
    .product-review-list {
    overflow: hidden;
}
    .product-reviews-page .title {
    margin: 0 0 20px;
    font-size: 20px;
    color: #444;
}
    .product-review-item {
    margin: 0 0 40px;
}
    .product-review-item .review-item-head {
    border-top: 1px solid #ddd;
    overflow: hidden;
    background-color: #f6f6f6;
    padding: 10px;
}
    .product-review-box .rating {
    width: 95px;
    height: 14px;
    background: url(../docdirect/images/rating1.png) repeat-x;
}

        .product-review-box .rating div {
            height: 14px;
            background: url(../docdirect/images/rating2.png) repeat-x;
        }
.product-review-list .title{
    text-align:center;
    margin:10px;
    font-size:20px;
}
.product-review-helpfulness .question {
    margin: 0 5px 0 0;
    font-style: italic;
}
.product-review-helpfulness .vote {
    display: inline-block;
    padding: 0 5px;
    color: #4ab2f1;
    cursor: pointer;
}
   .product-reviews-overview {
    margin: 0 0 25px;
    color: #444; 
}
    .product-review-box {
    display: inline-block;
    margin: 10px 0 8px;
}
    .product-review-links{
        text-decoration:underline;
    }
    .product-review-box .rating {
    width: 95px;
    height: 14px;
    background: url(../docdirect/images/rating1.png) repeat-x;
}
    .product-review-box .rating div {
    height: 14px;
    background: url(../docdirect/images/rating2.png) repeat-x;
}
    .product-review-item .reply {
    margin: 15px 0;
    border-top: 1px solid #ddd;
}
    .product-review-item .reply-text {
    line-height: 22px;
}

    .tags {
  list-style: none;
  margin-top: 15px;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
  list-style: none;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}

.doc-header .doc-topbar{
     padding: 10px 0;
    overflow: visible;
}
.doc-contactweb {
    float: left;
    padding: 7px 0;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
}
.doc-contactweb p {
    margin: 0;
}
.doc-contactweb a {
    color: #fff;
}
.tg-socialicon {
    text-align: center;
}
.tg-socialicon li {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.doc-languages .tg-socialicon li a {
    width: 30px;
    height: 30px;
    display: block;
    background: #fff;
    border: none;
    color: #7dbb00;
    border-radius: 2px;
}
.tg-socialicon li a i {
    display: block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}
.doc-languages {
    float: right;
    padding: 4px 0;
    position: relative;
    text-align: center;
}

@media (max-width: 481px) {
    #auto-search{
        width:100%;
    }
    .docbox-left{
    width: 100%;
    }
    .docbox-right{
      display: inline-block;
    width: 100%;
    }
}
@media (max-width: 1000px) {
}
@media (min-width: 1001px) {
    .product-review-item .review-title {
    max-width: 850px;
}
    #auto-search{
        width:50%;
    }
    select, .form-control, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
    {
        height:40px;
        margin-bottom:10px;
        padding:10px;
    }
    .upload-image-button{
        margin-bottom:10px;
    }
    .docbox-left{
    width: 50%;
    float: left;
    }
    .docbox-right{
      display: inline-block;
    float: left;
    width: 25%;
    }
}
@media (min-width: 769px) {
    .product-review-item .review-title {
    float: left;
    max-width: 600px;
}
    .product-review-item .product-review-box {
    float: right;
}
    .product-review-item .product-review-box {
    margin: 3px 0 0;
}
}
@media (min-width:1367px) {
}




