@{
    ViewBag.Title = "No schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal-dialog modal-lg tg-modalcontent" role="document">
    @using (Html.BeginForm("AvailableSchedule", "Appointment", FormMethod.Post, new { id = "availableSchedule-form", @class = "appointment-form" }))
    {
        <fieldset class="booking-model-contents">
            <ul class="tg-navdocappointment" role="tablist">
                <li class="active"><a href="javascript:;" class="bk-step-2">1. available schedule</a></li>
                <li><a href="javascript:;" class="bk-step-3">2. your contact detail</a></li>
                <li><a href="javascript:;" class="bk-step-4">3. Payment Mode</a></li>
                <li><a href="javascript:;" class="bk-step-5">4. Finish</a></li>
            </ul>
            <div class="tab-content tg-appointmenttabcontent" data-id="330">
                <div class="tab-pane step-five-contents" id="five" style="display: block;">
                    <div class="bk-thanks-message">
                        <div class="tg-message">
                            <h2>Schedule Not Found !!</h2>
                            <div class="tg-description">
                                <p>Appointment not available...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    }
</div>