/* =============================================
			Theme Color
============================================= */
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.tg-breadcrumb li a:hover,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
p a,
.tg-nav ul li a:hover,
.tg-tabs-nav li label:hover i,
.tg-tabs-nav li input[type="radio"]:checked + label i,
.form-searchdoctors h1 em,
.tg-healthcareonthego ul li:after,
.tg-findbycategory ul li:hover a,
.tg-findbycategory ul li:hover:after,
.tg-findbycategory ul li:last-child a,
.tg-post .tg-description blockquote:before,
.tg-post .tg-description blockquote:after,
.tg-metadata li a:hover,
.tg-info i,
.tg-docinfo .tg-stars i,
.tg-img-hover a,
.tg-widget ul li .tg-docinfo a:hover,
.tg-widget ul li a:hover,
.tg-widget ul li:hover:after,
.tg-docprofile-content h3 a:hover,
.tg-contactus .tg-search-categories a:hover,
.tg-tab-widget .tab-content .tg-stars i,
.tg-ratingbox .tg-stars i,
.tg-packages .tg-stars i,
.tg-packages:hover .tg-featuredicon em,
.tg-otherphotos h3 a:hover,
.tg-addfield button:hover i,
.tg-addfield button:hover span,
.tg-post-detail .tg-post .tg-tags .tg-tag li a:hover,
.tg-blog-grid .tg-post .tg-contentbox h3 a:hover,
.tg-reviewcontet .comment-head h3 a:hover,
.tg-support h3 a:hover,
.tg-reviewcontet .comment-head .tg-stars i,
.tg-widget ul li time,
.tg-nav .navbar-collapse ul li a:hover,
.tg-doceducation .tg-findbycategory ul li:hover a,
.tg-login-logout > li > a:hover,
.tg-login-logout li ul > li > a:hover,
.tg-login-logout li ul > li > a:hover i,
.tg-packageswidth .tg-checkbox input[type=radio]:checked + label .tg-featuredicon em,
.tg-widget.tg-datatype-two ul li a:hover:after,
.tg-widget.tg-datatype ul li a:hover:after,
.tg-schedule-widget-v2 ul li.current a,
.tg-schedule-widget-v2 ul li.current a:after,
.tg-schedule-widget-v2 ul li.current a:before,
.tg-listbox .tg-listdata h4 a:hover,
.tg-sub-featured li:hover a span,
.tg-sub-featured li:hover a em,
.tg-listbox .tg-listdata h4 a:hover,
.tg-homeslidertwo.owl-theme .owl-prev:hover i,
.tg-homeslidertwo.owl-theme .owl-next:hover i,
.tg-counter i,
.tg-counter .timer,
.tg-appointmenttable .table > tbody tr:hover .tg-btncheck,
.tg-showdetail .tg-btncheck,
.tg-doctorhead .tg-heading-border h3 a,
.tg-usercontact ul li:hover a em,
.tg-usercontact ul li:hover a i,
.tg-userschedule ul li:hover span,
.tg-userschedule ul li:hover em,
.tg-userschedule ul li span:after,
.tg-averagerating em,
.tg-reviewhead .tg-reviewheadleft h3:hover a,
.tg-radio input[type="radio"] + label:after,
.tg-userschedule ul li.current a,
.tg-userschedule ul li.current a span,
.tg-userschedule ul li.current a em,
.tg-usercontactinfo .tg-doccontactinfo li:last-child a{color: #7dbb00;}
.tg-doctor-detail2 .tg-findbycategory ul li a:hover{color: #7dbb00 !important;}
/* =============================================
			Theme Background Color
============================================= */
/*.tg-btn:hover,*/
.tg-btn:after,
.tg-tabs-nav li input[type="radio"]:checked + label .tg-category-name:after,
.tg-tabs-nav li label:hover .tg-category-name:after,
.tg-tabs-nav li label:before,
.tg-searchform .form-group button[type="submit"],
.navbar-header .navbar-toggle,
.tg-listing-views li.active a,
.tg-listing-views li a:hover,
.tg-listsorttype ul li a:hover,
#comming-countdown li:last-child,
.tg-pagination ul li a:hover,
.tg-pagination ul li:first-child a:hover,
.tg-pagination ul li:last-child a:hover,
.tg-pagination ul li:first-child:after,
.tg-pagination ul li:last-child:before,
.tg-pagination ul li.active a,
.tg-packages:hover,
.tg-widget ul li a:hover i,
.tg-reactivate .tg-btn,
.tg-widget.tg-widget-accordions .panel.active .tg-panel-heading:after,
.tg-widget.tg-widget-accordions .tg-panel-heading:hover:after,
.tg-mapmarker-content .tg-heading-border:after,
.tg-on-off .candlestick-wrapper .candlestick-bg .candlestick-toggle,
.tg-table-hover .tg-edit,
.tg-schedule-slider .owl-controls.clickable .owl-next:hover,
.tg-schedule-slider .owl-controls.clickable .owl-prev:hover,
.specialities-list ul li .tg-checkbox input[type="checkbox"]:checked + label,
.specialities-list ul li .tg-checkbox input[type="radio"] + label,
#confirmBox h1,
#confirmBox .button:after,
.geodistance_range .ui-slider-range,
.tg-packageswidth .tg-checkbox input[type=checkbox]:checked + label,
.tg-packageswidth .tg-checkbox input[type=radio]:checked + label,
.tg-radiobox input[type="radio"]:checked + label,
.pin,
.tg-share-icons .tg-socialicon li a,
.tg-btn-list:hover,
.tg-featuredtags .tg-featured,
.tg-topbar .tg-login-logout,
.tg-topbar .tg-login-logout:after,
.tg-searcharea-v2 .tg-searchform select,
.tg-features-listing > li:hover > .tg-main-features .tg-feature-head,
.tg-featuredtags .tg-featured,
.tg-btn-list:hover,
.tg-homeslidertwo .tg-searcharea-v2 .tg-searchform .tg-btn,
.tg-topbar .tg-login-logout:before,
.tg-catagory a:hover,
.tg-navdocappointment li a:hover:before,
.tg-navdocappointment li.active a:before,
.tg-subdoccategory.tg-edit,
.tg-subdoccategory:hover,
.tg-doccategory.tg-edit,
.tg-doccategory:hover,
.tg-appointmenttable .table > tbody tr:hover,
.tg-showdetail,
.tg-appointmenttime .tg-dayname,
.tg-radio input[type=radio]:checked + label,
.tg-appointmenttime .tg-doctimeslot.tg-available .tg-box:hover,
.tg-iosstylcheckbox input[type=checkbox]:checked + label,
.tg-iosstylcheckbox label:before,
.tg-skillbar,
.tg-userrating li:hover label,
.tg-radio input[type="radio"]:checked + label,
.tg-userrating li:after
{background:#7dbb00;}
{background:rgba(125, 187, 0, 0.9);}
.tg-featureverified li.tg-varified a{background:#10a64a;}

.chosen-container-multi .chosen-choices li.search-choice:hover,
.tg-banner-holder .tg-searcharea-v2 .tg-searchform .tg-btn{
	border-color:#7dbb00 !important;
	background:#7dbb00 !important;
}
/* =============================================
			Theme Border Color
============================================= */
.tg-btn,
.tg-nav ul li ul,
.tg-theme-heading .tg-roundbox,
.tg-threecolumn,
.tg-show,
.tg-searchform .form-group .tg-btn.tg-advance-search:hover,
.tg-listsorttype ul li a:hover,
.tg-featuredicon,
.tg-tab-widget ul.tg-nav-tabs li.active a,
.tg-tab-widget ul.tg-nav-tabs li a:hover,
#confirmBox .button,
.tg-packages:hover,
.tg-form-modal .tg-radiobox input[type="radio"]:checked + label,
.tg-pagination ul li a:hover,
.tg-nav-v2 > div > ul > li a:hover,
.tg-nav-v2 > div > ul > li.active a,
.tg-userrating li:hover label,
.tg-radio input[type="radio"] + label,
.tg-radio input[type="radio"]:checked + label,
.tg-mapmarker figure
{border-color: #7dbb00;}
.tg-map-marker .tg-docimg .tg-show,
.tg-docimg .tg-uploadimg{border-bottom-color: #7dbb00;}
.tg-login-logout li ul,
.tg-nav ul{border-top-color: #7dbb00 !important;}

.tg-appointmenttime .tg-doctimeslot .tg-box,
.tg-appointmenttime .tg-doctimeslot.tg-available .tg-box:hover{border-color: #7dbb00;}
.tg-docimg .tg-uploadimg{border-bottom-color: #7dbb00;}